<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript" src="../res/codemirror_6.65.7_codemirror.min.js"></script>
        <script type="text/javascript" src="../res/codemirror_codemirror5_mode_clike_clike.js"></script>
        <link rel="stylesheet" type="text/css" href="../res/codemirror_6.65.7_codemirror.min.css">
        <link rel="stylesheet" type="text/css" href="../res/codemirror_theme_ambiance.css">
        

        
        <script type="text/javascript" src="../res/require_2.3.5_minified.js"></script>
        <script type="text/javascript" src="load.js"></script>
        <script type="text/javascript">
            window.onload = function() {
                load();
            }
        </script>


        <link rel="stylesheet" type="text/css" href="model.css">
    </head>
    <body>
        <div class="header header-footer">
            <span id="header-hint">笔记</span>
            <img src="../image/LanHua.png" id="header-img">
        </div>
        <div class="content">
            <div id="info">
                Loading content...
            </div>
        </div>
        <div class="footer header-footer">
            <span>Made by 1234567Yang</span>
            <span>
                在<a href="https://github.com/1234567Yang/CSharpNote/">GitHub</a>上查看源代码
            </span>
        </div>
    </body>
</html>