<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="model.css">
    </head>
    <body>
        <div class="header header-footer">
            <span id="header-hint">随堂笔记</span>
            <img src="/static/image/LanHua.png" id="header-img">
        </div>
        <div class="content">
            <div id="info">
                Loading content...
            </div>
        </div>
        <div class="footer header-footer">
            <span>Made by 1234567Yang</span>
            <span>
                在<a href="https://www.baidu.com/">GitHub</a>上查看源代码
            </span>
        </div>
    </body>
</html>