:root {
    --head-height: 50px;
    --footer-height: 50px;
    --content-font-size: 20px;
}
*{
    font-family: 'Courier New', 'Times New Roman', Courier, monospace;
}
html, body {
    height: 100%;
}
.header-footer{
    display: flex !important;
    justify-content: space-between !important;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;

    background:rgb(220, 255, 195);
    box-shadow: 0px 1px 10px 5px rgb(220, 255, 195);

    user-select: none;
    
    justify-content: center;
    align-items: center;

    z-index: 50;
}
.header{
    height: var(--head-height);
}
#header-hint{
    position: relative;
    display: flex;

    font-size: 30px;
}
#header-img{
    position: relative;
    right:10px;
    width:auto;
    height:100%;
}
.content{
    margin-top: calc(var(--head-height) + 50px);
    position: relative;
    font-size: var(--content-font-size);
    min-height: 100%;
}
.CodeMirror {
    font-size: calc(var(--content-font-size) - 4px);
    border: 1px solid #eee;
    margin: 8px;
}
code{
    position: relative;
    top: -1.6px;
    border-radius: 5px;
    background-color: rgb(230,230,230);
    border-width: 1.2px;
    border-color: rgb(150,150,150);
    border-style: solid;
    margin-left: 8px;
    margin-right: 8px;
    font-size: calc(var(--content-font-size) - 3px);
}
blockquote{
    position: relative;
    border-width: 2px;
    border-color: rgb(150,150,150);
    border-style: dashed;
}
blockquote::before{
    content: "";
    position: absolute;
    width: 5px;
    height: 100%;
    background-color: rgb(150,150,150);

    margin-left: -20px;
}
.footer{
    position: relative;
    margin-top: calc(var(--footer-height) * -1px);
    height: var(--footer-height);
}